											/* Header for Catalog */
navbar-brand{
	margin:auto;
}
navbar-nav{
	margin-left:0.5px;
}

.logo {
    height: 120px !important;
    margin-left: 160px
}

.btn-outline-secondary {
    margin-left: 10px;
}

.cart-btn i {
    font-size: 18px;
}

.dropdown-toggle{
	white-space: nowrap;
    font-size: larger;
}
													/* End of Header for Catalog */
.btn{
	    padding: 0.4rem 0.5rem !important;
}

												/* Sort/Filter Section for Catalog */
.sort-btn, .filter-btn {
    cursor: pointer;
}

.list-group-item {
    background-color: darkgray !important;
    color: black;
    font-weight: bold;
}

													/* END of Sort/Filter Section for Catalog */
												
												/* Products Section for Catalog */

											
.product-card {
    position: relative;
    overflow: hidden;
}


.add-to-cart-btn {
    width: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
											
.btn {
	display: flex;
}

/* Card Animation - W3Schools */


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.0s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
     background-color: lightgray;
    color: black;
    border-radius: 15px;
    border-style: solid;
    border-width: medium;
}

.flip-card-back {
    background-color: lightgray;
    color: black;
    transform: rotateY(180deg);
    border-radius: 15px;
    border-style: dotted;
}

.item-description{
	margin: 70px;
}
								
										/* End Products Section for Catalog */
											
											
											
											/* Cart Page */
											

table, th, td, tr {
  border: 3px solid black;
  background-color: white;
  text-align: center;
  padding: 10px;
}

.btn-danger {
    color: #fff;
}

.text-right {
    text-align: right;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
											
											/* End of Cart Page*/
											

												/* Login Page */
.centerLogin {
	background-color: white;
  margin: auto;
  border: 3px solid #007bff;
  padding: 40px;
  padding-top: 20px;
}

.centerRegister {
	background-color: white;
  margin: auto;
  border: 3px solid #73AD21;
  padding: 40px;
  padding-top: 20px;
}					